* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #d3cbcb60;
    color: #000000;
    margin: auto;
    max-width: 1000px;


}

#mode {
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

header {
    display: flex;
    position: sticky;
    top: 10px;
    align-items: center;
    background-color: #0f6394;
    color: #ffffff;
    padding: 10px 20px;
    position: relative;
}

.header-icons {
    display: flex;
    align-items: center;
}

.social-media-icons {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    /* Adjust the margin as needed */
}

.social-media-icons a {
    color: #f09449;
    font-size: 24px;
    transition: color 0.3s;
}

.social-media-icons a:hover {
    color: #08a4ec;

}

.button-box {
    text-align: center;
    border-radius: 5px;
}

.logo {
    width: 100px;
    height: auto;
    margin: 20px;
}

h1 {
    font-family: "Rock Salt", "Fredoka One", sans-serif;
    justify-content: center;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    font-size: 40px;
}

.navigation {
    display: flex;
    position: sticky;
    top: 8.5rem;
    border: 2px solid #FEFEFE;
    background-color: #7bbaf2da;
    align-items: center;
    padding: 10px 20px;



}

#menu {
    display: none;
}

nav a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    color: #151515;
    margin: auto;
    padding: 10px;
}

nav a:hover {
    background-color: #ec7708;
    color: #FEFEFE;
}

.hero-box {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

#hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.call-to-action {
    position: absolute;
    top: 0;
    left: 0%;
    padding: 10px;
    font-size: 16px;
    background-color: #030324;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.call-to-action:hover {
    background-color: #ec7708;
    color: #dedee7;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

footer {
    display: grid;
    top: 10px;
    background-color: #0f6394;
    color: #ffffff;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px 20px;
}

footer img {
    width: 60px;
    height: auto;
    border-radius: 10px;
}



hr {
    width: 100%;
    border: none;
    border-top: 1px solid white;
    margin: 1em 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

}


.weather {
    display: block;
    margin: 0 auto;
    /* center the image horizontally */
    box-sizing: content-box;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    font-size: 15px;

}

h3 {
    font-size: 20px;

}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.repair {
    padding-top: 20px;
    padding-bottom: 20px;
}

.transport {
    padding-top: 20px;
    padding-bottom: 20px;
}

.art {
    padding: 20px;
    padding-bottom: 20px
}

h2 {
    padding: 20px;
    padding-bottom: 20px
}

.weather,
.events,
.companies {
    padding: 20px;
}

.companies1 {
    grid-column: 1/3;

}

.companies2 {
    grid-column: 1/3;
}

.companies3 {
    grid-column: 1/3;
}

#hamburger {
    font-size: 30px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: none;
    /* Hidden by default */
}

/*Dark Mode Styles*/
body.dark-mode {
    background-color: #300101;
    color: #fff;
}

body.dark-mode main {
    background-color: #300101;
    color: #fff;
}

body.dark-mode header {
    background-color: #222;
    color: #fff;
}

body.dark-mode nav {
    background-color: #222;

}

body.dark-mode nav a {
    color: #fff;
}

body.dark-mode nav a:hover {
    color: #000;
    background-color: #ec7708;
    ;
}

body.dark-mode footer {
    background-color: #222;
    color: #fff;
}

body.dark-mode .card ul {
    color: #000000;
}

body.dark-mode .card p {
    color: #000000;
}

/* Mode Button */
#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
}

/*Discovey page*/
.page-title {
    text-align: center;
    padding-top: 20px;


}

#visits {
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 1rem;
    border: 4px solid #0f6394;
    background-color: rgba(238, 210, 210, 0.521);
}

.side-info {
    justify-content: center;
    text-align: left;
    padding: 80px;
    border: 4px solid #0f6394;
    margin-bottom: 1rem;
    background-color: rgba(238, 210, 210, 0.521);
    height: fit-content;
}


.sidebar-right img {
    margin-bottom: 0.5rem;
    box-shadow: 10px 10px 4px #000;

}

.sidebar-right img:hover {
    transform: scale(1.05);
}


.sidebar-right p {
    margin-bottom: 1.5rem;
    margin-top: 10px;


}

.sidebar-left {
    padding: 20px;
    height: fit-content;

}

.sidebar-left p {
    text-align: left;

}

.sidebar-right {
    text-align: center;
}

.side-info h3 {
    text-align: center;
}

.sidebar-left,
.sidebar-right {
    width: 100%;
    /* Set width to 100% by default */
}

/*Join*/

form {
    width: 85%;
    margin: 2rem;
    text-align: left;
}

fieldset {
    width: 100%;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: maroon;
}

label {
    display: block;
    margin-bottom: .5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    display: block;
    width: 100%;
    max-width: 60%;
    padding: .75rem;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:required {
    border-bottom: solid 5px maroon;
}

input:required:valid {
    border-bottom: solid 5px green;
}

input[type="submit"] {
    margin-left: 1rem;
    background-color: #882a2a;
    color: white;
    font-weight: bold;
    padding: .8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    color: black;
}

input[type="radio"] {
    margin-right: 5px;
}

.membershipBenefits {
    margin: 2rem;
    border-radius: 4px;
}

#Non-Profit {
    border-top: 2px solid black;
    padding-bottom: .8rem;
    border-bottom: 2px solid black;
    background-color: #085ede18;
}

#Bronze_Membership_Benefits {
    padding-bottom: .8rem;
    border-bottom: 2px solid black;
    background-color: #085ede18;
}

#Silver_Membership_Benefits {
    padding-bottom: .8rem;
    border-bottom: 2px solid black;
    background-color: #085ede18;
}

#Gold_Membership_Benefits {
    padding-bottom: .8rem;
    border-bottom: 2px solid black;
    background-color: #085ede18;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.m-level {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/*---THANKYOU PAGE----*/

.thankyou {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

/* Directory Page */
.page-title {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bd581d83;
    text-align: center;

}

.menu-container {
    background-color: #bd581d83;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}


/* Grid and List View */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 100%;
    grid-gap: 20px;
    align-items: center;
    align-items: stretch;
}

.grid section {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #e9d0d096;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grid img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    flex-grow: 2;

}

.grid section>* {
    margin: 0.5rem;
}

.grid h3 {
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Styles for List View */


.list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    align-items: stretch;

}


.list section {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap to next line */
    justify-content: space-between;
    /* Distributes items evenly */
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #e9d0d096;
    box-shadow: 0 2px 4px rgba(185, 14, 14, 0.1);

}

.list section>* {
    margin: 0.5rem 1rem;
    flex: 1;
}

.list section img {

    max-width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.list section h3 {

    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.list section:last-child {
    margin-bottom: 0;
}

.list section:nth-child(even) {
    background-color: #bd581d83;
}


.list section p {

    margin: 0.5rem 0;
    font-size: 0.9rem;
    flex: 1;

}

.list section a {
    font-weight: bold;
    color: #1940ebe1;
    text-decoration: none;
}

.hero-box {
    margin-bottom: 20px;
}



.list section:last-child {
    margin-bottom: 0;
}

.list section a:hover {
    text-decoration: underline;
}

/*Chamber enhancement*/

.weather img.weather {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border: 4px solid #0f6394;
    background-color: rgba(238, 210, 210, 0.521);
}

.weather-details {
    text-align: center;
    margin-bottom: 20px;
}

.weather-details p {
    margin: 5px 0;
}

.weather-details figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forecast {
    margin-top: 20px;
}

.forecast-item {
    margin: 10px 0;
    text-align: center;
}

.forecast-item img {
    vertical-align: middle;
}

/* Styles for the banner */
.banner-message {
    color: rgb(13, 25, 131);
    display: inline;
    text-align: center;
}

.hidden {
    display: none;
}

.banner {
    background-color: #bd581db2;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}



/* Style the close button */
#close-banner {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}



/* Styles for spotlight members */
.spotlight-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;

}

.spotlight-member {
    flex: 0 1 30%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.spotlight-member img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}

.spotlight-member h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.spotlight-member p,
.spotlight-member a {
    font-size: 1em;
    margin: 5px 0;
}

.member-card {
    border: 4px solid #0f6394;
    background-color: rgba(238, 210, 210, 0.521);
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.member-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

}